@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll untuk navigasi */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-teal-500/50 rounded-full hover:bg-teal-600;
}

/* Base Body Styles */
body {
  @apply bg-gray-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-300;
}
